doctype html
html
  head
    title= title
  body
    h1= title

    a(href="/update-cobj") Create/Update custom object

    if data && data.length
      each item in data
        div.card
          h3= item.properties.name
          p Type: #{item.properties.type_of_game}
          p Platforms: #{item.properties.gaming_platforms}
          a(href=`/update-cobj?id=${item.id}`) Editar
    else
      p No se encontraron objetos.
